body {
    background-image: url(https://phonoteka.org/uploads/posts/2021-06/thumbs/1624359706_26-phonoteka_org-p-prikolnie-parnie-oboi-krasivo-27.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}
#btn {
    background-color: transparent;
    background-image: radial-gradient( circle farthest-corner at -14.3% -17.5%,  rgba(245,168,168,0.8) 4%, rgba(164,168,248,0.8) 100.2% );
    border-radius: 10px;
    padding: 10px 35px;
    font-size: 30px;
    border: 2px solid #fff;
    color: #fff;
    margin: auto;
    cursor: pointer;
}
#btn:hover {
    border: 2px solid #FFF8A6;
    color: #FFF8A6;
}
#phrase {
    display: none;
    font-size: 28px;
    background-color: transparent;
    background-image: radial-gradient( circle 919px at 1.7% 6.1%,  rgba(41,58,76,0.5) 0%, rgba(40,171,226,0.5) 100.2% );
    color: #fff;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}
@media all and (max-width: 800px) {
    #btn {
        font-size: 20px;
        width: 80%;
    }
    #phrase {
        font-size: 22px;
        width: 80%;
    }
}

@media all and (max-width: 500px) {
    #btn {
        font-size: 20px;
        width: 80%;
    }
    #phrase {
        font-size: 22px;
        width: 80%;
        margin-top: 20px;
    }
}